.card {
    &--steps {
        position: relative;

        display: flex;
        flex-direction: column;

        width: 253px;
        height: 262px;

        padding: 0 17px;

        background-color: #303030;
        border-radius: 6px;

        @media (max-width: 576px) {
            width: 205px;
            height: 212px;

            padding: 0 14px;
        }

        &:nth-child(even) {
            align-self: flex-end;
        }

        &:last-child {
            .card__icon {
                right: 50%;
                bottom: 0;
                transform: rotate(-90deg) translate(50%, 50%);
            }
        }

        &::before {
            content: '';
            position: absolute;
            left: -4px;
            bottom: -4px;
            z-index: -1;

            width: 100%;
            height: 100%;

            background-color: $colors-secondary;
            border-radius: 6px;
        }

        .card__icon {
            position: absolute;
            bottom: 10px;
            right: 18px;

            @media (max-width: 1400px) {
                transform: rotate(90deg);
            }

            @media (max-width: 576px) {
                bottom: 7px;
                right: 18px;
            }
        }

        .card__number {
            display: block;

            font-size: 6rem;
            font-weight: 900;
            color: #fff;

            @media (max-width: 576px) {
                font-size: 4.8rem;
            }
        }

        .card__title {
            margin-bottom: 15px;

            font-size: 2.2rem;
            font-weight: 500;
            color: $colors-secondary;
            text-transform: uppercase;

            @media (max-width: 576px) {
                margin-bottom: 10px;

                font-size: 1.6rem;
            }
        }

        .card__text {
            position: relative;
            z-index: 1;
            color: #fff;

            @media (max-width: 576px) {
                font-size: 1.4rem;
            }
        }
    }

    &--advantages {
        display: flex;

        padding: 11px 7px 11px 14px;

        background-color: #fff;
        border-radius: 9px;

        @media (max-width: 576px) {
            flex: 1 0 0;
        }

        .card__image-block {
            min-width: 119px;

            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 576px) {
                min-width: auto;
                max-width: 88px;
            }
        }

        .card__image {
            display: block;
            padding: 0 10px;

            @media (max-width: 576px) {
                max-width: 67px;
                max-height: 66px;
            }
        }

        .card__text-block {
            display: flex;
            flex-direction: column;
            padding: 14px 0 14px 13px;

            border-left: 3px solid #f8f8f8;

            @media (max-width: 576px) {
                justify-content: center;
            }
        }

        .card__title {
            flex: 1 0 0;
            margin-bottom: 8px;

            font-size: 2.2rem;
            font-weight: 500;
            text-transform: uppercase;

            @media (max-width: 992px) {
                font-size: 1.8rem;
            }

            @media (max-width: 576px) {
                margin-bottom: 5px;

                font-size: 1.6rem;
            }
        }

        .card__text {
            flex: 1 0 0;
            font-size: 1.6rem;
            color: #424242;

            @media (max-width: 576px) {
                font-size: 1.2rem;
            }
        }
    }
}
