.header {
    &__inner {
    }

    &__top {
        font-size: 1.8rem;
        color: #fff;

        background-color: #000;
    }

    &__top-inner {
        width: 100%;
        height: 51px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 197px;

        @media (max-width: 576px) {
            gap: 10px;
        }
    }

    &__top-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-style: normal;

        @media (max-width: 1200px) {
            display: none;
        }

        &--m-menu {
            flex-direction: column;
            gap: 19px;

            @media (max-width: 1200px) {
                display: flex;
            }
        }
    }

    &__top-item {
        display: flex;
        align-items: center;
        gap: 10px;

        &--info-text {
            font-size: 1.4rem;
            color: #c3c3c3;
        }
    }

    &__top-whatsapp {
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;
        gap: 12px;

        padding: 9px 20px 9px 27px;

        font-size: 1.4rem;

        border: 1px solid $colors-secondary;
        border-radius: 33px;

        transition: 0.3s linear;

        @media (max-width: 576px) {
            padding: 9px 18px;
            font-size: 1rem;
        }

        &:hover {
            color: $colors-secondary;

            .header__top-whatsapp-icon path {
                fill: $colors-secondary;
            }
        }
    }

    &__top-whatsapp-icon path {
        transition: 0.3s linear;
    }

    &__bottom-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 10px 0 7px;
    }

    .btn-modal-open {
        padding: 16px 35px;

        font-size: 1.6rem;
        font-weight: 500;
        white-space: nowrap;

        background-color: $colors-secondary;
        border-radius: 28px;

        @media (max-width: 576px) {
            font-size: 1rem;
            padding: 10px 23px;
        }
    }
}
