.nav {
    &--header {
        margin-left: auto;
        margin-right: 65px;
    }
    &__list {
        display: flex;
        align-items: center;

        font-size: 2rem;
    }

    &__link {
        display: block;

        padding: 14px 25px;

        transition: color 0.3s linear;

        &:hover {
            color: $colors-secondary;
        }
    }
}
