.section {
    &__inner {
    }
    &__title {
        margin-bottom: 44px;

        font-size: 4.8rem;
        font-weight: 900;
        color: #000;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 3.5rem;
        }

        @media (max-width: 576px) {
            font-size: 2.8rem;
        }
    }

    &__subtitle {
        font-size: 1.6rem;
    }

    &--services {
        padding: 158px 0;

        @media (max-width: 768px) {
            padding: 106px 0;

            .section__title {
                margin-bottom: 19px;
            }
        }
    }

    &--banner {
        background-color: #efebe3;

        margin-bottom: 60px;

        .section__inner {
            position: relative;

            min-height: 472px;

            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 117px;
            padding: 13px 0;

            @media (max-width: 992px) {
                gap: 30px;
            }

            @media (max-width: 768px) {
                flex-direction: column;

                padding: 0;
                gap: 0;
            }
        }

        .decor {
            position: absolute;

            &--left {
                left: -286px;
                top: 0;
                bottom: 50px;

                @media (max-width: 1600px) {
                    display: none;
                }

                @media (max-width: 768px) {
                    display: block;
                    position: static;
                    margin: 0 -20px;
                }
            }

            &--bottom {
                z-index: -1;

                bottom: -55px;
                right: -286px;

                @media (max-width: 1600px) {
                    right: -20px;

                    width: 90%;
                }

                @media (max-width: 1200px) {
                    bottom: -40px;
                }

                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }

        .section__text-block {
            display: flex;
            flex-direction: column;

            @media (max-width: 768px) {
                margin-bottom: 47px;
            }
        }

        .section__title {
            margin-bottom: 10px;
            text-align: left;
        }

        .section__subtitle {
            max-width: 700px;
            margin-bottom: 45px;

            font-size: 2.4rem;

            @media (max-width: 768px) {
                margin-bottom: 24px;
            }
        }

        .section__btn {
            width: 100%;
            max-width: 288px;
            height: 63px;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 2rem;
            color: #fff;

            background-color: $colors-secondary;
            border-radius: 34px;
            border: 1px solid $colors-highlight;

            transition: 0.3s linear;

            &:hover {
                background-color: $colors-highlight;
            }

            @media (max-width: 576px) {
                max-width: 201px;
                height: 44px;

                font-size: 1.4rem;

                color: $colors-text;
            }
        }

        .section__contacts {
            position: relative;
            bottom: -28px;

            width: 100%;
            max-width: 345px;
            padding: 14px 11px;

            background-color: #fff;
            border-radius: 24px;

            @media (max-width: 768px) {
                bottom: -11px;

                padding: 11px 9px;
            }
        }

        .section__contacts-inner {
            padding: 34px 0 46px;

            border: 1px solid $colors-secondary;
            border-radius: 24px;
        }

        .section__contacts-title {
            margin-bottom: 23px;

            font-size: 2.4rem;
            font-weight: 500;
            color: $colors-text;
            text-align: center;

            @media (max-width: 576px) {
                font-size: 2rem;
            }
        }

        .section__contacts-list {
            display: flex;
            flex-direction: column;
            gap: 32px;
        }
        .section__contacts-list-item {
            display: flex;
            align-items: center;

            background-color: #f1f1f1;

            transition: 0.3s linear;

            &:hover {
                background-color: $colors-secondary;

                .icon path {
                    fill: #fff;
                }
            }

            .icon {
                margin-right: 10px;

                svg path {
                    transition: 0.3s linear;
                }

                &--whatsapp {
                    width: 29px;
                    height: 29px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;

                    background-color: $colors-secondary;
                    border-radius: 50%;

                    @media (max-width: 576px) {
                        width: 22px;
                        height: 22px;

                        svg {
                            width: 13px;
                            height: 13px;
                        }
                    }
                }
            }
        }

        .section__contacts-list-link,
        .section__contacts-list-btn {
            padding: 18px 10px;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 2.2rem;
            text-align: center;

            @media (max-width: 576px) {
                padding: 11px;

                font-size: 1.6rem;
            }
        }
    }

    &--steps {
        padding: 152px 0 157px;

        @media (max-width: 576px) {
            padding: 95px 0 106px;
        }

        .section__title {
            margin-bottom: 44px;

            @media (max-width: 576px) {
                margin-bottom: 27px;
            }
        }

        .section__content {
            min-height: 293px;

            display: flex;
            gap: 21px;

            @media (max-width: 1200px) {
                max-width: 500px;
                flex-direction: column;

                margin: 0 auto;
            }
        }
    }

    &--payment {
        background-color: #303030;

        @media (max-width: 576px) {
            padding-bottom: 32px;
        }

        .section__inner {
            position: relative;
        }

        .decor {
            position: absolute;

            left: -290px;
            top: -41px;
            z-index: -1;

            @media (max-width: 1300px) {
                width: 90%;
                left: -20px;
            }

            @media (max-width: 992px) {
                top: -20px;
            }

            @media (max-width: 576px) {
                width: 100%;
                top: -29px;
            }
        }

        .section__title {
            margin-bottom: 41px;

            color: $colors-secondary;
            text-align: left;
        }
    }

    &--advantages {
        padding: 160px 0 86px;

        background-color: #f8f8f8;

        @media (max-width: 576px) {
            padding: 108px 0 48px;
        }

        .section__title {
            margin-bottom: 49px;

            @media (max-width: 768px) {
                text-align: left;
            }
        }

        .section__content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-auto-rows: auto;
            gap: 54px 30px;

            @media (max-width: 1400px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                gap: 30px;
            }
        }
    }

    &--about {
        padding: 77px 0 160px;

        .section__title {
            margin-bottom: 56px;

            text-align: left;

            @media (max-width: 576px) {
                margin-bottom: 27px;
            }
        }

        .section__content {
            position: relative;

            @media (max-width: 992px) {
                display: flex;
                flex-direction: column;
                gap: 25px;
            }
        }

        .section__text-block {
            max-width: 730px;
            margin-right: 500px;

            @media (max-width: 992px) {
                margin-right: 0;
            }
        }

        .section__text {
            margin-bottom: 40px;

            font-size: 2rem;
            line-height: 1.64;

            &:last-child {
                margin-bottom: 0;
            }

            @media (max-width: 576px) {
                font-size: 1.2rem;
            }
        }

        .section__decor-bottom {
            width: 100%;
            height: 73px;

            background-color: $colors-secondary;
        }

        .section__image-block {
            position: absolute;
            right: -290px;
            top: 50%;
            transform: translateY(-50%);

            @media (max-width: 1400px) {
                right: -400px;
            }

            @media (max-width: 992px) {
                position: static;

                display: flex;
                flex-direction: column;
                align-items: flex-end;

                transform: translateY(0);

                margin-right: -20px;
                margin-bottom: -30px;

                .section__image {
                    display: block;
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        .decor {
            display: block;
            margin-bottom: 7px;
            margin-left: auto;

            max-width: 345px;
            width: 100%;
            height: 3px;

            background-color: $colors-secondary;

            @media (max-width: 576px) {
                max-width: 180px;
                height: 2px;
            }
        }
    }
}
