.showcase {
    background-image: url('../img/showcase/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 768px) {
        background: linear-gradient(rgba(#fff, 0), rgba(#000, 0.3)),
            url('../img/showcase/bg-sm.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media (max-width: 400px) {
        background: url('../img/showcase/bg-sm.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__inner {
        padding: 114px 0 92px;
        display: flex;
        flex-direction: column;

        @media (max-width: 768px) {
            padding-bottom: 40px;
            min-height: 1000px;
        }

        @media (max-width: 576px) {
            min-height: 708px;
            padding-top: 43px;
            padding-bottom: 20px;
        }
    }

    &__title {
        position: relative;

        margin-bottom: 40px;

        font-size: 7.2rem;
        font-weight: 900;
        line-height: 1.24;

        color: #fff;

        @media (max-width: 992px) {
            font-size: 5rem;
        }

        @media (max-width: 576px) {
            font-size: 3.2rem;
            margin-bottom: 25px;
        }

        span {
            font-size: 6.7rem;
            font-weight: normal;

            @media (max-width: 992px) {
                font-size: 4rem;
            }
            @media (max-width: 576px) {
                font-size: 2.4rem;
            }
        }

        &::after {
            content: '';

            position: absolute;
            bottom: -17px;
            left: 0;

            width: 140px;
            height: 2px;

            background-color: $colors-secondary;

            @media (max-width: 576px) {
                bottom: -13px;
            }
        }
    }

    &__subtitle {
        margin-bottom: 68px;

        font-size: 3.2rem;
        line-height: 1.24;
        color: $colors-secondary;

        @media (max-width: 576px) {
            font-size: 2.2rem;
            margin-bottom: 37px;
        }
    }

    &__text {
        display: flex;
        align-items: center;

        margin-bottom: 21px;

        line-height: 1.24;
        color: #fff;
        text-transform: uppercase;

        @media (max-width: 576px) {
            margin-bottom: 16px;

            font-size: 1.2rem;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 16px;
        height: 16px;

        margin-right: 12px;

        background-color: $colors-secondary;
        filter: blur(2px);

        border-radius: 50%;

        &::after {
            content: '';

            width: 8px;
            height: 8px;

            background-color: $colors-highlight;
            border-radius: 50%;
        }
    }

    &__services {
        padding: 13px 0 18px;
        padding-right: 40px;
        max-width: 734px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: #000;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 20px;

            padding-right: 0;
            background: none;

            margin-top: auto;
        }

        @media (max-width: 576px) {
            gap: 6px;
        }
    }

    &__services-item {
        display: flex;
        align-items: center;
        gap: 16px;

        color: $colors-secondary;

        @media (max-width: 768px) {
            &:nth-child(1) {
                align-self: flex-start;
            }
            &:nth-child(3) {
                align-self: flex-end;
            }
        }

        @media (max-width: 576px) {
            font-size: 1.2rem;
        }
    }

    &__services-item-icon {
        @media (max-width: 576px) {
            img {
                height: 32px;
            }
        }
    }
}
