<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.min.css">
    <title>@@title</title>

    <!-- generics -->
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon/apple-icon-57x57.png" sizes="57x57">
    <link rel="icon" type="image/png" href="img/favicon/apple-icon-76x76.png" sizes="76x76">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">

    <!-- iOS -->
    <link rel="apple-touch-icon" href="img/favicon/apple-icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="img/favicon/apple-icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="img/favicon/apple-icon-180x180.png" sizes="180x180">

    <!-- Windows 8 IE 10-->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">

    <!---- Windows 8.1 + IE11 and above -->
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml" />
</head>