<div class="modal">
    <div class="modal__inner">
        <button type="button" class="btn modal__close" aria-label="закрыть модальное окно">
            <img src="img/icons/close.svg" alt="крестик">
        </button>

        <h4 class="modal__title">Закажите звонок</h4>

        <form action="/" class="form form--modal">
            <input type="tel" class="form__input" placeholder="Телефон">
            <button type="submit" class="btn form__btn">Отправить</button>
        </form>
    </div>
</div>