// colors
$colors-secondary: #e5c08c;
$colors-highlight: #b89058;
$colors-text: #141414;

// typography
$family: 'HelveticaNeueCyr';

// media
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
